/* *{
    background-color: #058cd7;
}

h1{
    color: #FB7DA8;
}
body{
    margin-top: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
canvas{
    box-shadow: black 20px 10px 50px; 
} */

* {
    background-color: #F2EBC7;
}

h1 {
    color: #A7C957;
}

body {
    margin-top: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

button {
    background-color: #E27D60;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #C8553D;
}